{% extends 'base.html' %}
{% load static %}

{% block title %}
    Página de Detalhes da Notícia
{% endblock %}

{% block content %}
<div class="news-detail">
    <h1 class='news-title'>{{ new.title }}</h1>
    <p class="news-content">{{ new.content }}</p>
    {% for category in new.categories.all %}
    <span class="news-categories">{{ category }}</span>
    {% endfor %}
    <span class="news-author">{{ new.author }}</span>
    <img src="{% static new.image.url %}" alt="{{ new.title }}" />
    <p>{{new.created_at|date:'d/m/Y'}}</p>
</div>
{% endblock %}
